video {
    width: 80vw;
    max-width: 1000px;
}

@media screen and (max-width: 1000px) {
    video {
        width: 90vw;
    }
}

#app-video-controls {
    z-index: 100;
}

.danmaku-wrapper {
    position: relative;
}
