:host {
    height: 5rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 1rem;
    margin-top: 1rem;

    background: #11111166;
    position: relative;
}

.control-top {
    grid-row: 1;
    display: flex;
    justify-content: center;
    //background: white;
    width: 100%;
}

.control-bottom {
    grid-row: 2;
    //background: green;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 3fr 1fr;
}

.control-btn-play {
    width: 2rem;
    height: 2rem;
    margin: 2px;
    margin-left: 1rem;
}


#volumeControl{
    grid-column: 3;
    height: 70%;
    width: 50%;
    align-self: center;
}
