<div class="progress">
    <div class="progress-wrapper" #progress>
        <div class="progress-buffered" [ngStyle]="progressBufferedStyle"></div>
        <div
            #progressplayed
            class="progress-played"
            [ngStyle]="progressPlayedStyle"
        ></div>
    </div>
    <div
        class="progress-thumb"
        [ngStyle]="progressThumbStyle"
        (mousedown)="onmousedown()"
        (mousemove)="onmousemove($event)"
        (mouseup)="onmouseup($event)"
        (mouseout)="onmouseout()"
    ></div>
</div>
<div class="control-bottom">
    <button
        class="control-btn-play"
        [style.background]="btnPlayBackground"
        (click)="btnPlayClick()"
    ></button>
</div>
