<div class="progress">
    <div class="progress-wrapper">
        <div class="progress-buffered" [ngStyle]="progressBufferedStyle"></div>
        <div class="progress-played" [ngStyle]="progressPlayedStyle"></div>
    </div>
    <div
        class="progress-thumb"
        [ngStyle]="progressThumbStyle"
        (mousedown)="onmousedown()"
        (mousemove)="onmousemove($event)"
        (mouseup)="onmouseup()"
        (mouseout)="onmouseout()"
    ></div>
</div>
<div class="control-bottom">
    <button
        class="control-btn-play"
        [style.background]="btnPlayBackground"
        (click)="btnPlayClick()"
    ></button>
</div>
