<div class="control-top">
    <app-progressbar
        [max]="videoTotalTime"
        [value]="videoTime"
        (valueChange)="onSeek($event)"
    ></app-progressbar>
</div>
<div class="control-bottom">
    <button
        class="control-btn-play"
        [style.background]="btnPlayBackground"
        (click)="btnPlayClick()"
    ></button>
    <app-danmaku-input></app-danmaku-input>
    <app-progressbar
        id="volumeControl"
        [max]="100"
        [value]="50"
        (valueChange)="onVolumeChange($event)"
    ></app-progressbar>
</div>
