:host {
    height: 3rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: stretch;
    grid-row-gap: 0.2rem;

    background: black;
    position: relative;
}

.control-top {
    grid-row: 1;
    display: flex;
    justify-content: center;
    background: white;
    width: 100%;
}

.control-bottom {
    grid-row: 2;
    background: green;
}

.control-btn-play {
    width: 2rem;
    height: 2rem;
    margin: 2px;
}
