<div class="progress-wrapper" #progress [ngStyle]="_progressStyle">
    <div
        #progressSecondary
        class="progress-secondary"
        [ngStyle]="_progressSecondaryStyle"
    ></div>
    <div
        #progressMain
        class="progress-main"
        [ngStyle]="_progressMainStyle"
        [style.width.px]="_progressMainWidth"
    ></div>
</div>
<div
    #progressThumb
    class="progress-thumb"
    [ngStyle]="_progressThumbStyle"
    (mousedown)="onmousedown()"
    [style.left.px]="_progressThumbLeft"
></div>
