:host {
    display: flex;
    position: relative;
    width: 100%;
}

.progress-wrapper {
    width: 100%;
    position: relative;
}

.progress-secondary {
    background: grey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
}

.progress-main {
    position: absolute;
    background: cyan;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
}

.progress-thumb {
    position: absolute;
    align-self: center;
    background: url(https://picsum.photos/50);
    left: 0;
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
        cursor: grab;
    }
}
