:host {
    background: cyan;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-image: url(https://picsum.photos/1920/1080);
    background-repeat: no-repeat;
    background-size: auto;
}
