:host {
    position: relative;
    left: 90vw;
    width: fit-content;
    padding: 4px;
    white-space: pre;
    animation-name: move-left;
    animation-duration: 8s;
    animation-timing-function: linear;
    margin: 1px 0px;

    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) 0px 1px 1px,
        rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) -1px 0px 1px;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

@keyframes move-left {
    to {
        transform: translateX(calc(-150vw));
    }
}

@keyframes to-disappear {
    to {
        display: none;
    }
}
