:host {
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

input{
    width: 90%;
    height: 75%;
    &:active{
        outline: aqua 1rem;
    }
}

button{
    height: 75%;
    width: 10%;
}
